:root{
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --rose-color: #F7418F;
    --number: #eff7fa;
}

*{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
    height: 16px; /* Change the height of the scrollbar */
}

::-webkit-scrollbar-track {
    background-color: var(--dark-color); /* Set the color of the track */
}

::-webkit-scrollbar-thumb {
    background-color: var(--rose-color); /* Set the color of the thumb (the draggable part of the scrollbar) */
    border-radius: 6px; /* Set the border radius to make it rounded */
}
body{
    font-family: "Roboto", sans-serif;
}

.main-btn{
    background-color: var(--rose-color);
    color: floralwhite;
    
}

.main-btn:hover{
    color: floralwhite;
}

.navbar {
    background-color: var(--dark-color);
}

.navbar .navbar-nav .nav-link {
    color: floralwhite;
    font-size: 18px;
}

.navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .nav-link:focus, .navbar .navbar-nav .nav-link:hover {
    color: var(--rose-color);
}

.container .logo11 {
    font-size: 25px;
    color: var(--rose-color);
    font-weight: 700;
}

.navbar .search {
    border-left: 1px solid var(--rose-color);
    color: var(--rose-color);
}

.navbar .navbar-toggler {
    color: floralwhite;
}

.navbar .navbar-toggler[aria-expanded="true"]{
    
    border-color: var(--rose-color);
}

.navbar .rp11 {
    border-radius: 30%;
}

.landing {
    background-color: var(--dark-color);
    height: calc(100vh - 91px)
}

.main-title:after {
    content: '';
    width: 120px;
    height: 2px;
    background-color: var(--rose-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.features .icon-holder {
    height: 200px;
}

.features .icon-holder i {
    left: 50%;
    transform: translateX(-50%);
}
.features .icon-holder .number {
    font-size: 12rem;
    color: var(--number);
    bottom: 0;
}
.features .icon-holder .icon {
    color: var(--rose-color);
    bottom: 0;
}
.features h4{
    color: var(--rose-color);
}
